<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-goods-receipt-heading">Create or edit a Goods Receipt</h2>
            <div class="row">
                <jhi-alert-error></jhi-alert-error>
                <div class="col-4" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="col-4">
                    <label class="form-control-label" for="field_grnNumber">Grn Number</label>
                    <input type="text" class="form-control" name="grnNumber" id="field_grnNumber"
                           formControlName="grnNumber"/>
                    <div *ngIf="editForm.get('grnNumber').invalid && (editForm.get('grnNumber').dirty || editForm.get('grnNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grnNumber').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="col-4">
                    <label class="form-control-label" for="field_grnDate">Grn Date</label>
                    <div class="input-group">
                        <input id="field_grnDate" type="text" class="form-control" name="grnDate" ngbDatepicker  #grnDateDp="ngbDatepicker" formControlName="grnDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="grnDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('grnDate').invalid && (editForm.get('grnDate').dirty || editForm.get('grnDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grnDate').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="col-4">
                    <label class="form-control-label" for="field_poNumber">Po Number</label>
                    <input type="text" class="form-control" name="poNumber" id="field_poNumber"
                           formControlName="poNumber"/>
                </div>

                <div class="col-4">
                    <label class="form-control-label" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" formControlName="supplier">
                        <option *ngIf="!editForm.get('supplier').value" [ngValue]="null" selected></option>
                        <option [ngValue]="supplierOption.id === editForm.get('supplier').value?.id ? editForm.get('supplier').value : supplierOption" *ngFor="let supplierOption of suppliers; trackBy: trackSupplierById">{{supplierOption.supplierCode}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('supplier').invalid && (editForm.get('supplier').dirty || editForm.get('supplier').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('supplier').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="col-4">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location').value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location').value?.id ? editForm.get('location').value : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.locationCode}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location').invalid && (editForm.get('location').dirty || editForm.get('location').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location').errors.required">
                        This field is required.
                    </small>
                </div>

                <div class="col-4">
                    <label class="form-control-label" for="field_storageBin">Storage Bin</label>
                    <select class="form-control" id="field_storageBin" name="storageBin" formControlName="storageBin">
                        <option [ngValue]="null" selected></option>
                        <option [ngValue]="storageBinOption.id === editForm.get('storageBin').value?.id ? editForm.get('storageBin').value : storageBinOption" *ngFor="let storageBinOption of storagebins; trackBy: trackStorageBinById">{{storageBinOption.binNumber}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-control-label" for="field_grnQty">Qty</label>
                    <input type="text" class="form-control" name="grnQty" id="field_grnQty"
                           formControlName="grnQty"/>
                    <div *ngIf="editForm.get('grnQty').invalid && (editForm.get('grnQty').dirty || editForm.get('grnQty').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grnQty').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="col-4">
                    <label class="form-control-label" for="field_item">Item</label>
                    <select #item class="form-control" id="field_item" name="item" formControlName="item" (change)="updateItem(editForm.get('item').value)">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="itemsOption.id === editForm.get('item').value?.id ? editForm.get('item').value : itemsOption" *ngFor="let itemsOption of items; trackBy: trackItemsById">{{itemsOption.itemCode}}</option>
                    </select>
                </div>

                <div class="col-4">
                    <label class="form-control-label" for="field_grnItemCost">Item Cost</label>
                    <input ngDefaultControl *ngIf="editForm.get('item').value?.id"  type="text" class="form-control" name="itemCost" id="field_grnItemCost" formControlName="itemCost">
                </div>

                <div class="col-4">
                    <label class="form-control-label" for="field_grnRevisedItemCost">Revised Item Cost</label>
                    <input ngDefaultControl type="text" class="form-control" name="revisedItemCost" id="field_grnRevisedItemCost" formControlName="revisedItemCost">
                </div>

                <div class="col-4" *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                    <span ngDefaultControl >{{debug}}</span>
                </div>

                <div class="col-4">
                    <label class="form-control-label" ></label>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="button" id="add" class="btn btn-secondary" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="addItem()">
                        <fa-icon [icon]="'plus-circle'"></fa-icon>&nbsp;<span>Add</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="virtualGoodsReceipts?.length < 1 || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
            <hr/>
            <div class="table-responsive" *ngIf="virtualGoodsReceipts?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" ><span>ID</span></th>
                        <th scope="col" ><span>Qty</span></th>
                        <th scope="col" ><span>Item</span></th>
                        <th scope="col" ><span>Original Item Cost</span></th>
                        <th scope="col" ><span>Item Cost</span></th>
                        <th scope="col" ><span>Storage Bin</span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let goodsReceiptDetails of virtualGoodsReceipts ;trackBy: trackId; let id = index">
                        <td>{{id}}</td>
                        <td>
                            <div *ngIf="goodsReceiptDetails.item">
                                <span contenteditable="true" (keyup)="changeValue(id, 'grnQty', $event)" (blur)="updateList(id, 'grnQty', $event)">{{goodsReceiptDetails.grnQty}}</span>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="goodsReceiptDetails.item">
                                {{goodsReceiptDetails.item?.itemCode}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="goodsReceiptDetails.item">
                                {{goodsReceiptDetails.item?.itemCost}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="goodsReceiptDetails.revisedItemCost">
                                {{goodsReceiptDetails.revisedItemCost}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="goodsReceiptDetails.storageBin">
                                {{goodsReceiptDetails.storageBin.binNumber}}
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger btn-sm"  (click)="removeItem(id)">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
